.vs/
Calendar.Data/bin/
Calendar.Data/obj/
Calendar.Data.Tests/bin/
Calendar.Data.Tests/obj/
Calendar.Domain/bin/
Calendar.Domain/obj/
Calendar.API/bin/
Calendar.API/obj/
Calendar.API.Tests/bin/
Calendar.API.Tests/obj/
Calendar.SPA/node_modules/
Calendar.SPA/.angular/
Calendar.SPA/dist/
