.vs/
Crossvertise-Programming-Exercise.pdf
Calendar.Data/bin/
Calendar.Data/obj/
Calendar.Data.Tests/bin/
Calendar.Data.Tests/obj/
Calendar.Domain/bin/
Calendar.Domain/obj/
Calendar.Web/bin/
Calendar.Web/obj/
Calendar.Web.Tests/bin/
Calendar.Web.Tests/obj/
Calendar.Web/ClientApp/node_modules/
Calendar.Web/ClientApp/.angular/
Calendar.Web/ClientApp/dist/
